<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppleWirelessKeyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppleWirelessKeyboard.Properties.Settings>
            <setting name="FMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapCtrlFn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hash" serializeAs="String">
                <value/>
            </setting>
            <setting name="EnableOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="StartupShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfKeyBinding xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F10&lt;/Key&gt;
    &lt;Module&gt;VolumeMute&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;Back&lt;/Key&gt;
    &lt;Module&gt;Delete&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;true&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F1&lt;/Key&gt;
    &lt;Module&gt;IncreaseBrightness&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F2&lt;/Key&gt;
    &lt;Module&gt;DecreaseBrightness&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F7&lt;/Key&gt;
    &lt;Module&gt;PreviousTrack&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F8&lt;/Key&gt;
    &lt;Module&gt;PauseTrack&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F9&lt;/Key&gt;
    &lt;Module&gt;NextTrack&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F11&lt;/Key&gt;
    &lt;Module&gt;VolumeDecrease&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
  &lt;KeyBinding&gt;
    &lt;Key&gt;F12&lt;/Key&gt;
    &lt;Module&gt;VolumeIncrease&lt;/Module&gt;
    &lt;Ctrl&gt;false&lt;/Ctrl&gt;
    &lt;Alt&gt;false&lt;/Alt&gt;
    &lt;Fn&gt;false&lt;/Fn&gt;
    &lt;Win&gt;false&lt;/Win&gt;
    &lt;Shift&gt;false&lt;/Shift&gt;
    &lt;FMode&gt;false&lt;/FMode&gt;
  &lt;/KeyBinding&gt;
&lt;/ArrayOfKeyBinding&gt;</value>
            </setting>
        </AppleWirelessKeyboard.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
